html {
    overflow: hidden;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}
body {
    overflow: hidden;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    text-align: center;
    background-color: black;
}

#renderCanvas {
    width: 100%;
    height: 100%;
    touch-action: none;
    transition: 1s ease;
}

.anim-canvas {
    opacity: 70%;
}

div {
    font-family: 'Josefin Sans', sans-serif;
    color: white;
    text-align: center;
    position: absolute;
}

.hidden {
    top: 110%;
    left: 50%;
    opacity: 0%;
    transform: translate(-50%, -50%);
}

.anim-first {
    animation-name: text;
    animation-duration: 3.5s;
    animation-timing-function: ease-in-out;
}

#congrats {
    font-style: italic;
    font-weight: 800;
    font-size: 3.5em;
    text-transform: uppercase;
    animation-delay: 1s;
}

#message {
    font-weight: 400;
    font-size: 25px;
    margin-top: 50px;
    animation-delay: 1.3s;
}

@keyframes text {
    0% {
        top: 70%;
        opacity: 0%;
    }
    33% {
        top: 50%;
        opacity: 100%;
    }
    66% {
        top: 50%;
        opacity: 100%;
    }
    100% {
        top: 20%;
        opacity: 0%
    }
}


#container {
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: space-evenly;
    top: 200%;
    left: 50%;
    transform: translate(-50%, -50%);
    /*width: 30%;*/
    width: 40vw;
    opacity: 0%;
}

.anim-container {
    animation-name: buttons;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
    animation-delay: 6s;
}

button {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 900;
    /*font-style: italic;*/
    font-size: 1em;
    color: white;
    text-transform: uppercase;
    /*width: 150px;*/
    width: 8vw;
    /*height: 175px;*/
    height: 18vh;
    /*padding: 15px 25px;*/
    padding: 1.5vh 1vw;
    /*margin: 20px 20px;*/
    margin: 2vh 1.5vw;
    border: 4px solid white;
    background-color: transparent;
    transition: 0.2s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

button:hover {
    background-color: white;
    color: black;
    cursor: pointer;
}

button:active {
    transform: scale(.94);
}

img.icon {
    /*height: 60px;
    width: 60px;
    margin-bottom: 10px;*/
    transition: 0.3s ease;
    filter: brightness(0%) invert(100%);
    margin-left: 0.2vw;
    margin-right: 0.2vw;
    height: 7vh;
    margin-bottom: 1vh;
}

button:hover img.icon{
    filter: brightness(0%);
}

#upgrade {
    font-weight: 800;
    font-size: 3.5em;
    text-transform: uppercase;
}

.anim-upgrade {
    animation-name: text-upgrade;
    animation-duration: 1.5s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
    animation-delay: 5s;
}

@keyframes text-upgrade {
    0% {
        top: 70%;
        opacity: 0%;
    }
    100% {
        top: 30%;
        opacity: 100%;
    }
}

@keyframes buttons {
    0% {
        top: 70%;
        opacity: 0%;
    }
    100% {
        top: 55%;
        opacity: 100%;
    }
}

#health {
    position: absolute;
    top: 25px;
    left: 30px;
}

#healthText {
    position: absolute;
    top: 16px;
    font-family: 'Poppins', sans-serif;
    font-weight: 800;
    font-size: 18px;
}

#bar {
    position: absolute;
    left: 60px;
}

#heart {
    position: absolute;
    filter: invert(18%) sepia(78%) saturate(7331%) hue-rotate(357deg)
    brightness(104%) contrast(115%) drop-shadow(0px 0px 5px #ff0000);
    top: 10px;
    left: 11px;
    height: 40px;
    z-index: 3;
}

#playerHealth {
    position: absolute;
    width: 150px;
    height: 20px;
    background: #40ff20;
    box-shadow: 0px 0px 3px 2px #40ff22;
    border-radius: 1px;
    top: 20px;
    left: 30px;
    z-index: 2;
    transition: 0.3s;
}

#moreHealth {
    position: absolute;
    width: 50px;
    height: 20px;
    background: #1ceaff;
    box-shadow: 0px 0px 3px 2px #1cebff;
    border-radius: 1px;
    top: 20px;
    left: 30px;
    z-index: 1;
    transition: 0.3s;
}

#upgradeList {
    top: 25px;
    right: 30px;
    display: flex;
    flex-direction: row-reverse;
}

#fps {
    position: absolute;
    bottom: 15px;
    left: 30px;
    width: 60px;
    height: 20px;
    text-align: left;
}

#back {
    background-image: url("texture/render-background.png");
    z-index: 4;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

#img_container {
    display: flex;
    justify-content: center;
}

#splash_planet {
    align-self: center;
    /*height: 52vh;*/
    /* the new ones are for the rendered planet */
    height: 80vh;
    margin-bottom: -30vh;
}

.title {
    position: relative;
}

#button_container {
    display: flex;
    justify-content: center;
}

h1#title {
    font-family: 'Josefin Sans', sans-serif;
    /*font-size: 140px;*/
    font-size: 14vmin;
    font-weight: 300;
    /*margin-top: 20px;*/
    margin-top: 1.5vh;
    /*margin-bottom: 10px;*/
    margin-bottom: 1vh;
    z-index: 1;
}

#button {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 400;
    /*font-size: 40px;*/
    font-size: 4vmin;
    font-style: normal;
    height: auto;
    width: auto;
    margin: 0px;
    border: 3px solid white;
    text-transform: none;
}

#keys_container {
    display: flex;
    justify-content: center;
    /*margin-top: 50px;*/
    margin-top: 5vh;
    /*transform: scale(0.9);*/
}

.key {
    position: relative;
    display: flex;
    align-items: center;
    /*padding: 0 140px 0 140px;*/
    padding: 0 8vw 0 8vw;
    width: 50%;
}

.key#left {
    justify-content: flex-end;
}

.key#right {
    justify-content: flex-start;
    border-left: 2px white solid;
}

.key_image {
    margin: 0 1.5vw 0 1.5vw;
}

.key_image#wasd {
    height: 8vh;
}

.key_image#e {
    margin-left: 0px;
    height: 3.9vh;
}

.key_image#spacebar {
    height: 2vh;
}

.key_text {
    font-family: "Josefin Sans", sans-serif;
    /*font-size: 40px;*/
    font-size: 2.2em;
    font-weight: 200;
}

.removed {
    transition: opacity 1s linear;
    opacity: 0;
}

#game_over_container {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: black;
    top: 0;
    z-index: 5;
    /*display: flex;*/
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: none;
    opacity: 0%;
    transition: 2s ease;
}

.visible {
    display: flex;
}

#game_over_title_container {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#sub_game_over {
    position: relative;
    font-size: 2.5vw;
    font-weight: 200;
}

.game_over {
    position: relative;
    font-size: 5vw;
    font-weight: 300;
}

#eclipse_container {
    margin-right: -5.5vw;
    /*margin-left: -35px;*/
}

#eclipse {
    width: 17vw;
}

#game {
    z-index: 1;
    margin-right: -2.2vw;
}

#try_again {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 400;
    font-size: 1.5em;
    font-style: normal;
    height: auto;
    width: auto;
    margin-top: 10vh;
    border: 2px solid white;
    text-transform: none;
}

.anim-game_over {
    animation-name: fade-in;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}

@keyframes fade-in {
    0% {
        opacity: 0%;
    }
    100% {
        opacity: 100%;
    }
}

.anim-eclipse {
    animation-name: fade-in;
    animation-timing-function: ease-in;
    animation-duration: 4s;
    animation-fill-mode: forwards;
}

.flex_element {
    position: relative;
}

#victory_container {
    display: none;
    z-index: 100;
    top: 0%;
    height: 100vh;
    width: 100vw;
    background-image: url("texture/render-background.png");
    align-items: center;
}

#main_victory_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
}

#victory_image {
    height: 60vh;
    margin-bottom: -8vh;
    margin-top: -5vh;
}

#title_victory {
    font-size: 4em;
    margin: 1vh;
}

#sub_victory {
    margin: 1vh;
    font-size: 4em;
    font-weight: 300;
}

#credits {
    margin-top: 10vh;
    font-size: 1.5em;
}

#names {
    font-size: 1.5em;
}

#restart_container {
    right: 5vw;
    bottom: 5vh;
}

#restart {
    height: auto;
    width: auto;
}